@model Job

@{
    ViewData["Title"] = "Job Create | Admin";
}

<button id="scrollToTopBtn" title="Go to top">
    <i class="fa-solid fa-up-long"></i>
</button>
<button id="whatsAppBtn" title="Whats app">
    <a href="https://wa.me/917905614885" target="_blank" style="text-decoration: none; color: #017561"><i class="fa-brands fa-square-whatsapp"></i></a>
</button>

<!-- delete jobs section starts  -->
<section>
    <div class="container pt-5 pb-5 pattern-cls">
        <div class="dot-pattern"></div>
        <div class="text-right">
            <form asp-controller="Login" asp-action="Logout" method="post">
                <button type="submit" class="button shadow">Logout <i class="fa-solid fa-right-from-bracket" style="color: #800000;"></i></button>
            </form>
        </div>
        <h3 class="text-center pb-3 pt-5 gradient-text">REMOVE JOB</h3>
        <div class="text-center">
            <p class="b-crumb" style="color: #000;"><a asp-controller="Admin" asp-action="Index" style="color: #000;"><i class="fa-solid fa-house mr-2" style="color: #000;"></i>Admin</a> / <a asp-controller="Job" asp-action="Index" style="color: #000">Job</a> / Remove</p>
        </div>
        <div class="text-center">
            <h5 class="text-center pb-3 pt-5">Are you sure you want to remove?</h5>
        </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="cookieCard shadow">
                    <p class="cookieHeading">@Model.Position | @Model.Category <br><span style="font-size: 18px;">Internship - @Model.InternshipMonths months</span><br><span style="font-size: 18px;">Post Date: @Model.CreatedOn.ToString("yyyy-MM-dd")</span></p>
                    <p class="cookieDescription">@Model.Description</p>
                    </div>
                    <div class="pt-3">
                        <form asp-action="Delete" method="post">
                            <input type="hidden" id="JobId" name="JobId" value="@Model.JobId"/>
                            <button type="button" class="button shadow mr-2"><a asp-action="Index" style="text-decoration: none;"> <i class="fa-solid fa-left-long" style="color: #848890;"></i></a></button>
                            <button type="submit" class="button shadow"><i class="fa-solid fa-trash" style="color: #800000;"></i></button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</section>
<!-- delete jobs section ends  -->